.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 1rem 0; 
}

.categoryBtn {
    cursor: pointer;
    background: none;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    color: var(--primary-text-color);
    display: inline-block;
    position: relative;
    font-weight: 500;
    margin: 0.5rem 0
}

.categoryBtn:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: #008bc4;
    transform-origin: bottom-right;
    transition: transform 0.5s ease-in-out
}



.categoryBtn:hover::after, .categoryBtn:active::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.categoryBtn.active {
    color: #008bc4;
}

@media screen and (min-width: 768px) {
    .container {
        width: 80%;
        margin: 2rem auto;
    }
}


@media screen and (min-width: 1200px) {
    .container {
        width: 60%;
        margin: 2rem auto;
    }
}