.main {
    background: var(--bg-color);
    color: var(--secondary-text-color);
    padding: 3% 8%;
    height: 80px;
    display: flex;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    font-size: 1rem;
    z-index: 100;
    border-bottom: 2px solid #008bc4;

}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    width: 100%;
}

.heading {
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menudiv {
    display: flex;
    align-items: center;
}

.navmenu{
    display: flex;
    align-items: center;
    height: 100%;
    cursor: pointer;
}

    .navLinkContainer {
        display: flex;
    }

.navlink {
    padding: 0 1rem;
    position: relative;
    color: var(--secondary-text-color);
    text-decoration: none;
}


.navlink:hover {
    color: var(--navlink-color);
}

.navlink.open {
    padding: 0;
   color: var(--navlink-color)
}

.icons  {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    margin-left: 1rem;
}


.themeicon {
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.menuIcon {
    display: none;
}


@media screen and (max-width: 780px) {
    .main {
        padding: 3% 5%;
    }
    
    .navmenu {
        border-top: 2px solid #001c27;
        position: fixed;
        left: -100%;
        top: 4rem;
        flex-direction: column;
        background: var(--bg-color);
        width: 100%;
        text-align: center;
        transition: 0.3s ease-in-out;
        padding-left: 0;
        max-height: 100vh;
    }
    .navmenu.active {
        left: 0;
    }

    .navLinkContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 10%;
        height: 60vh;
    }

    .navlink {
        padding: 0;
    }

    
.menuIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
} 