.main {
    padding:20px 30px 0;
    background: var(--bg-color);
    border-top: 2px solid #008bc4;
}

.container {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    margin: 40px auto 0;
    font-family: 'Inter', 'sans-serif';
    text-align: center;
    color: #fff;
    position: relative;
}

.btpContainer {
    margin: 0 auto;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 1rem;
    font-weight: 600;
    position: absolute;
    top: -20%;
    left: 50%;
    transform: translate(-50%, -60%);
}

.btpIcon {
    background-color: var(--secondary-text-color);
    margin: 0 auto;
    width: 55%;
    font-size: 2.5rem;
    padding: 10px 10px 0;
    display: flex;
    justify-content: center;
    cursor: pointer;
    font-weight: 800;
    color: var(--secondary-color-inverted);
    box-shadow: 0 2px 4px 0 rgba(0,14,20,0.2);
}


.iconsDiv {
    display: flex;
    padding: 10px;
    margin: 1rem auto 0;
    justify-content: space-between;
    width: 80%;
    font-size: 1.1rem;
}

.icon {
    background-color: transparent;
    color: white;
    display: flex;
    justify-content: center;
    cursor: pointer;
    padding: 7px;
    border-radius: 50%;
    border: 2px solid #fff;
    font-weight: 600;
}

.icon:hover {
    background-color: white;
    color: var(--bg-color);
}

@media screen and (max-width: 350px) {
    .iconsDiv {
        width: 100%;
    }
}

@media screen and (min-width: 550px) {
    .iconsDiv {
        width: 60%;
    }
}

@media screen and (min-width: 768px) {
    .main {
        padding: 5% 8% 0;
    }

    .iconsDiv {
        width: 40%;
    }

    
.btpContainer {
    position: absolute;
    top: -20%;
    left: 50%;
    transform: translate(-50%, -75%);
}

}


@media screen and (min-width: 1200px) {
    .iconsDiv {
        width: 30%;
    }

    .btpContainer {
    position: absolute;
    top: -20%;
    left: 50%;
    transform: translate(-50%, -95%);
}

}


@media screen and (min-width: 1450px) {
    .btpContainer {
    position: absolute;
    top: -20%;
    left: 50%;
    transform: translate(-50%, -103%);
}

}


@media screen and (min-width: 1700px) {
    .btpContainer {
    position: absolute;
    top: -20%;
    left: 50%;
    transform: translate(-50%, -110%);
}

}



@media screen and (min-width: 2000px) {
    .btpContainer {
    position: absolute;
    top: -20%;
    left: 50%;
    transform: translate(-50%, -120%);
}

}