.main {
    padding: 5% 5% 0;
    background: var(--mainbg-color);
}

.container {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    margin: 40px 0 0;
    font-family: 'Inter', 'sans-serif';
}


.skillContainer {
    padding: 30px 0 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}

.skill {
        background-color: var(--card-color);
    box-shadow: 0 3px 8px 0 rgba(0, 0,0,0.3);
    padding: 1rem;
    border-radius: 50%;
}

.skillImg {
    height: 30px;
    width: 30px;
}

@media screen and (max-width: 300px) {
    .skillContainer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 560px) {
    .skillContainer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}


@media screen and (min-width: 768px) {
    .main {
        padding: 5% 8% 0;
    }

    .skillContainer {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (min-width: 1000px) {
    .skillContainer {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
    }
}

