html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

:root {
  --bg-color: #008bc4;
  --invertedbg-color: #001c27;
  --mainbg-color: #fff;
  --navlink-color: #d3d3d3;
  --primary-text-color: #000e14;
  --secondary-text-color: #fff;
  --card-color: #fff;  
  --card-color-inverted: #000e14;
  --card-btn-color: #d3d3d3;
  --secondary-color-inverted: #008bc4;
  --scroll-bar-color: #d3d3d3
}

[data-theme="dark"] {
  --bg-color: #000e14;
  --invertedbg-color: #008bc4;
  --mainbg-color: #000e14;
    --primary-text-color: #fff;
    --navlink-color: #fff;
  --secondary-text-color: #008bc4;
  --card-color: #001c27;
  --card-color-inverted: #fff;
  --card-btn-color: #000e14;
  --scroll-bar-color: #008bc4;
  --secondary-color-inverted: #fff;
}




/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--scroll-bar-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #001c27;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #001c27;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
 
ul {
  list-style: none;
}

header {
    height: 100vh;
    background: var(--mainbg-color);
    font-family: 'Poppins','sans-serif';
}