html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

:root {
  --bg-color: #008bc4;
  --invertedbg-color: #001c27;
  --mainbg-color: #fff;
  --primary-text-color: #000e14;
  --secondary-text-color: #fff;
  --card-color: #fff;  
  --card-color-inverted: #000e14;
  --card-btn-color: #d3d3d3;
  --secondary-color-inverted: #008bc4;
}

[data-theme="dark"] {
  --bg-color: #000e14;
  --invertedbg-color: #008bc4;
  --mainbg-color: #000e14;
    --primary-text-color: #fff;
  --secondary-text-color: #008bc4;
  --card-color: #001c27;
  --card-color-inverted: #fff;
  --card-btn-color: #000e14;
  --secondary-color-inverted: #fff;
}



a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
 
ul {
  list-style: none;
}

header {
    height: 90vh;
    background: var(--mainbg-color);
    font-family: 'Poppins','sans-serif';
    position: relative;
}